<!--component html goes here -->
<div style="padding: 0px 11px 1px 10px;">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Venkata Sama </mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Venkata Sama is a motivated and innovative technology leader with a demonstrated capacity in Full stack web development to deliver high quality solutions across multiple domains. He has the ability to build, maintain and motivate high performing technical
                teams. He has significantly contributed in developing products across e-Learning, Mobile, Social Media and Health Care domains. He is very passinate and indulges himself into Techathons, Hackathons and similar events. He holds an Engineering
                degree in Computer Science from JNTU, Kakinada.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="lkd" style="margin-top:2%;">
          <a href="https://www.linkedin.com/in/venkatasama/" target="_blank" rel="noopener noreferrer"><img mat-card-image src="../../assets/linkedin.png" alt="linked in" class="imgWidth">  </a>     
        </button>
            <button mat-button style="margin-left: -8%;">
            <a href="https://twitter.com/samavteja" target="_blank" rel="noopener noreferrer"> <img mat-card-image src="../../assets/twitter.png" alt="linked in" class="imgWidth"> </a> 
        </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image1"></div>
            <mat-card-title>Shreeram </mat-card-title>
            <mat-card-subtitle>Principal Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Shreeram is a technology expert with over 12 years of experience with Microsoft.Net and Javascript frameworks. He has gained diversified experience in design, development, building and delivering enterprise-level technology solutions for clients across
                the globe. He has closely worked with clients for build & architecture of ERP, Cloud and other solutions, predominantly in the areas of Health Care, Crop Science, Contract farming and hospitality domains. He holds an Engineering degree
                in Computer Science from VTU, Belgaum.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="lkd" style="margin-top:2%;">
            <a href="https://www.linkedin.com/in/shreerammc/" target="_blank" rel="noopener noreferrer"><img mat-card-image src="../../assets/linkedin.png" alt="linked in" class="imgWidth">  </a>     
          </button>
            <button mat-button style="margin-left: -8%;">
            <a href="https://twitter.com/shreeramz" target="_blank" rel="noopener noreferrer"> <img mat-card-image src="../../assets/twitter.png" alt="linked in" class="imgWidth"> </a> 
        </button>
        </mat-card-actions>
    </mat-card>
</div>