@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@media only screen and (min-width: 1000px) {
    #phone {
        /* background: none; */
        width: 350px;
        height: 600px;
        font-family: 'Noto Sans', sans-serif;
        background: url('../assets/iphone.png');
        background-size: 382px;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-top: 7em;
        padding-left: 3.2em;
        border-radius: 1%;
    }
    #login {
        position: relative;
        padding: 10.5% 4% 42.5% 1%;
        background: url('../assets/bg.png') no-repeat;
        background-size: cover;
        width: 80% !important;
    }
    #bgCover {
        background: url('../assets/city.jpg');
        background-size: auto;
        background-repeat: no-repeat;
        padding: 2% 0% 50% 70%;
        padding-bottom: 13px;
    }
    #content {
        color: white;
        float: left;
        text-align: left;
        padding-left: 3%;
        width: 60%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    #content {
        display: none;
    }
    #mainPage {
        height: 100%;
        /* background-color: blue; */
        background: url('../assets/bg.png') no-repeat;
        background-size: cover;
    }
}