.mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
}

.mat-flags {
    height: 38px !important;
    width: 38px !important;
    font-size: 38px !important;
}

.special-card {
    /* padding: 15% 15% 6% 21%; */
    text-align: center;
    /* margin-bottom: 15%; */
}

.count-items {
    width: 10px;
    height: 10px;
    margin-right: 3%
}

.stats {
    padding: 5%;
}