/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: wordwrap; */
}

.custom-phone {
    width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.custom-remarks {
    width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.custom-region {
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.custom-place {
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.custom-op {
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.full-width-field {
    width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}