<!--component html goes here -->
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Disclaimer!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Icovids.com is a website to provide Self assesment check for Covid-19 (Novel Coronovirus). You can use it to get recommendations for action incase of any symptoms in just a few clicks. The website asks you several Yes/no questions including symptoms and
            potential contacts. Besides recommendations for action, relevant contacts, and structured results, the purpose of this website is to guide you safely through the various health care centers nearby. Please note that this website does not provide
            diagnostic services and cannot be considered as the ultimate Covid Test tool. Please do not visit a hospital, physician’s office, lab or healthcare facility without consulting on the Hotline.
        </p>
    </mat-card-content>
</mat-card>